---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables

// font variables, including sizes
$base-font-family: 'Roboto', sans-serif;

$fontXXXS: 10px;
$fontXXS: 12px;
$fontXS: 14px;
$fontS: 16px;
$fontM: 18px;
$fontL: 20px;
$fontXL: 22px;
$fontXXL: 24px;
$fontXXXL: 27px;
$fontH: 30px;
$fontXH: 34px;
$fontXXH: 45px;
$fontXXXH: 56px;

$base-font-size:   $fontM;
$small-font-size:  $fontS;
$base-line-height: 1.5;

//Brand Color Palette
$pbr: #447ad4;
$pbr_6: #183c78;
$pbr_3: #a1bce9;
$pbr_1: #ecf2fb;

// Primary Color Palette
$apple: #16aa00;
$apple_6: #123806;
$apple_3: #83cd78;
$apple_1: #e9ffe3;
$cherry: #e73b37;
$cherry_6: #9c0300;
$cherry_3: #ec9694;
$cherry_1: #ffdad9;
$eggplant: #bb4f9f;
$eggplant_6: #6f1056;
$eggplant_3: #d6a0c8;
$eggplant_1: #fdddf5;
$grey: #6B6B6B;
$grey_6: #4d4d4d;
$grey_3: #B1B1B1;
$grey_1: #f2f2f2;
$orange: #ff8a1a;
$orange_6: #c36000;
$orange_3: #f8bd85;
$orange_1: #ffe7cf;
$sea: #30c1c5;
$sea_6: #005254;
$sea_3: #90d9db;
$sea_1: #e4feff;
$sun: #ffcf04;
$sun_6: #c28800;
$sun_3: #ffe782;
$sun_1: #fff5cd;
$violet: #7a00fd;
$violet_6: #2f0062;
$violet_3: #b578f7;
$violet_1: #f1e4ff;
$watermelon: #f75462;
$watermelon_6: #b12c37;
$watermelon_3: #fba9b0;
$watermelon_1: #ffdee1;

// Extended Primary Color Palette

$grey_2: #D5D5D5;
$grey_4: #8d8d8d;
$cherry_2: #FFCDD2;
$cherry_4: #EF5350;
$watermelon_2: #FFC2C7;
$watermelon_4: #FF7B85;
$orange_2: #FFD0A3;
$orange_4: #FF9937;
$apple_2: #C8E6C9;
$apple_4: #66BB6A;
$sea_2: #B2F4F5;
$sea_4: #6DD3D6;
$pbr_2: #CDDFFE;
$pbr_4: #6895DF;
$violet_2: #D5B2FC;
$violet_4: #A562F0;
$eggplant_2: #F3BFE5;
$eggplant_4: #D175B9;
$sun_2: #FFECB3;
$sun_4: #FFD54F;


// Secondary Palette

$mist_1: #ECEFF1;
$mist_2: #CFD8DC;
$mist_3: #78909C;
$mist_4: #607D8B;
$mist: #37474F;
$mist_6: #263238;
$wood_1: #EFEBE9;
$wood_2: #D7CCC8;
$wood_3: #BCAAA4;
$wood_4: #A1887F;
$wood: #8D6E63;
$wood_6: #795548;
$bloodorange_1: #FFEBE6;
$bloodorange_2: #FFCDC1;
$bloodorange_3: #FF9D86;
$bloodorange_4: #F5876D;
$bloodorange: #EC6F52;
$bloodorange_6: #C55B43;
$fanta_1: #FFF3E0;
$fanta_2: #FFE0B2;
$fanta_3: #FFCC80;
$fanta_4: #FFB74D;
$fanta: #FFA726;
$fanta_6: #C87700;
$moss_1: #E8F5E9;
$moss_2: #C8E6C9;
$moss_3: #81C784;
$moss_4: #66BB6A;
$moss: #4CAF50;
$moss_6: #365D38;
$teal_1: #E0F2F1;
$teal_2: #B2DFDB;
$teal_3: #80CBC4;
$teal_4: #4DB6AC;
$teal: #26A69A;
$teal_6: #009688;
$techypbr_1: #E3F2FD;
$techypbr_2: #BBDEFB;
$techypbr_3: #90CAF9;
$techypbr_4: #42A5F5;
$techypbr: #2196F3;
$techypbr_6: #085FA4;
$indigo_1: #E8EAF6;
$indigo_2: #C5CAE9;
$indigo_3: #9FA8DA;
$indigo_4: #7986CB;
$indigo: #5C6BC0;
$indigo_6: #3F51B5;

$white: #ffffff;

$color_names: white violet_6 eggplant_6 apple_6 sea_6 cherry_6 watermelon_6 sun_6 orange_6 eggplant violet apple sea cherry watermelon sun orange eggplant_4 violet_4 apple_4 sea_4 cherry_4 watermelon_4 sun_4 orange_4 violet_3 eggplant_3 apple_3 sea_3 cherry_3 watermelon_3 sun_3 orange_3 eggplant_2 violet_2 apple_2 sea_2 cherry_2 watermelon_2 sun_2 orange_2 violet_1  eggplant_1 apple_1 sea_1 cherry_1 watermelon_1 sun_1 orange_1 pbr_6 pbr pbr_3 pbr_1 grey_6 grey grey_3 grey_1 grey_4 grey_2 pbr_4 pbr_2 mist_1 mist_2 mist_3 mist_4 mist mist_6 wood_1 wood_2 wood_3 wood_4 wood wood_6 bloodorange_1 bloodorange_2 bloodorange_3 bloodorange_4 bloodorange bloodorange_6 fanta_1 fanta_2 fanta_3 fanta_4 fanta fanta_6 moss_1 moss_2 moss_3 moss_4 moss moss_6  teal_1 teal_2 teal_3 teal_4 teal teal_6 techypbr_1 techypbr_2 techypbr_3 techypbr_4 techypbr techypbr_6  indigo_1 indigo_2 indigo_3 indigo_4 indigo indigo_6;
$color_vars: $white $violet_6 $eggplant_6 $apple_6 $sea_6 $cherry_6 $watermelon_6 $sun_6 $orange_6 $eggplant $violet $apple $sea $cherry $watermelon $sun $orange $eggplant_4 $violet_4 $apple_4 $sea_4 $cherry_4 $watermelon_4 $sun_4 $orange_4 $violet_3 $eggplant_3 $apple_3 $sea_3 $cherry_3 $watermelon_3 $sun_3 $orange_3 $eggplant_2 $violet_2 $apple_2 $sea_2 $cherry_2 $watermelon_2 $sun_2 $orange_2 $violet_1 $eggplant_1 $apple_1 $sea_1 $cherry_1 $watermelon_1 $sun_1 $orange_1 $pbr_6 $pbr $pbr_3 $pbr_1 $grey_6 $grey $grey_3 $grey_1 $grey_4 $grey_2 $pbr_4 $pbr_2 $mist_1 $mist_2 $mist_3 $mist_4 $mist $mist_6 $wood_1 $wood_2 $wood_3 $wood_4 $wood $wood_6 $bloodorange_1 $bloodorange_2 $bloodorange_3 $bloodorange_4 $bloodorange $bloodorange_6 $fanta_1 $fanta_2 $fanta_3 $fanta_4 $fanta $fanta_6 $moss_1 $moss_2 $moss_3 $moss_4 $moss $moss_6 $teal_1 $teal_2 $teal_3 $teal_4 $teal $teal_6 $techypbr_1 $techypbr_2 $techypbr_3 $techypbr_4 $techypbr $techypbr_6 $indigo_1 $indigo_2 $indigo_3 $indigo_4 $indigo $indigo_6;



$text-color:       $grey_6;
$background-color: #ffffff;
$brand-color:      $pbr;
$brand-color-dark: $pbr_6;

$grey-color:       $grey;
$grey-color-light: $grey_1;
$grey-color-dark:  $grey_6;

// spacing units
$spaceXS: 2px;
$spaceS: 8px;
$spaceM: 16px;
$spaceL: 24px;
$spaceXL: 32px;
$spaceXXL: 40px;
$spaceXXXL: 48px;
$spaceH: 56px;
$spaceXH: 64px;
$spaceXXH: 72px;
$spaceXXXH: 80px;

$spacing-unit: $spaceL;


// Media Query Breakpoints
$desktopXL: 1400px;
$desktopL: 1200px;
$desktopS: 1024px;
$tablet: 768px;
$mobileL: 480px;
$mobileS: 320px;
 

$on-palm:          $tablet;
$on-laptop:        $desktopS;

// border radius
$button-border-radius: 4px;

// timing
$transition-time: 0.3s;

//Test CSS section


//functions
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  
  @return $string;
}

@function to-string($value) {
  @return inspect($value);
}

// clearfix
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {

    @media screen and (max-width: $device) {
        @content;
    }

}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "brand",
        "syntax-highlighting"
;