---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables

// font variables, including sizes
$base-font-family: 'Roboto', Helvetica, Arial, sans-serif;

$fontXXS: 12px;
$fontXS: 14px;
$fontS: 16px;
$fontM: 18px;
$fontL: 20px;
$fontXL: 22px;
$fontXXL: 24px;
$fontXXXL: 27px;
$fontH: 30px;
$fontXH: 34px;
$fontXXH: 45px;
$fontXXXH: 56;

$base-font-size:   $fontM;
$small-font-size:  $fontS;
$base-line-height: 1.5;

// brand colours
$violet_dark: #2f0062;
$eggplant_dark: #6f1056;
$apple_dark: #123806;
$sea_dark: #005254;
$cherry_dark: #9c0300;
$watermelon_dark: #b12c37;
$sun_dark: #c28800;
$orange_dark: #c36000;
$eggplant: #bb4f9f;
$violet: #7a00fd;
$sea: #30c1c5;
$chery: #e73b37;
$watermelon: #f75462;
$sun: #ffcf04;
$orange: #ff8a1a;
$violet_light: #b578f7;
$eggplant_light: #d6a0c8;
$apple_light: #83cd78;
$cherry_light: #ec9694;
$sea_light: #90d9db;
$watermelon_light: #fba9b0;
$sun_light: #ffe782;
$orange_light: #f8bd85;
$eggplant_lightest: #fdddf5;
$violet_lightest: #f1e4ff;
$apple_lightest: #e9ffe3;
$sea_lightest: #e4feff;
$watermelon_lightest: #ffdee1;
$cherry_lightest: #ffdad9;
$orange_lightest: #ffe7cf;
$sun_lightest: #fff5cd;
$pbr_dark: #183c78;
$pbr: #447ad4;
$grey: #969696;
$grey_light: #cacaca;
$pbr_lightest: #ecf2fb;
$pbr_light: #a1bce9;
$grey_lightest: #f2f2f2;
$grey_dark: #4d4d4d;
$apple: #16aa00;

$text-color:       $grey_dark;
$background-color: #ffffff;
$brand-color:      $pbr;
$brand-color-dark: $pbr_dark;

$grey-color:       $grey;
$grey-color-light: $grey_lightest;
$grey-color-dark:  $grey_dark;

// spacing units
$spaceXS: 2px;
$spaceS: 8px;
$spaceM: 16px;
$spaceL: 24px;
$spaceXL: 32px;
$spaceXXL: 40px;
$spaceXXXL: 48px;
$spaceH: 56px;
$spaceXH: 64px;
$spaceXXH: 72px;
$spaceXXXH: 80px;

$spacing-unit: $spaceL;

$on-palm:          600px;
$on-laptop:        960px;

// timing
$transition-time: 0.3s;


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "brand",
        "syntax-highlighting"
;
