<div class="wrapper-test">
<footer class="site-footer">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.description }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      
      <div class="footer-col  footer-col-2">
        <img src="{{ "/img/logo/noom_logo_small_blue@2x.png" | prepend: site.baseurl }}" class="logo" height="40px">

      </div>
    </div>


</footer>
</div>
