<div class="in-page-nav-test">
    <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
    <a class="site-title" href="{{ site.baseurl }}/">
        <img src="{{ "/img/logo/noom_logo_small_blue@2x.png" | prepend: site.baseurl }}" class="logo">
    </a>
    <div class="mobile-nav">
        <svg width=30 height="21"/>
        <rect x="0" y="2" rx="2" ry="2" width="30" height="3" style="fill:#6b6b6b;" />
        <rect x="0" y="10" rx="2" ry="2" width="30" height="3" style="fill:#6b6b6b;" />
        <rect x="0" y="18" rx="2" ry="2" width="30" height="3" style="fill:#6b6b6b;">
    </div>

    <div class="holder">
        <ul>
            <li><a class="dropdown-head showSingle" target="general">General</a>
                <ul class="dropdown">
                    <li><a href="#colors">Colors</a></li>
                    <li><a href="#references">References</a></li>
                </ul>
            </li>
            <li><a class="dropdown-head showSingle" target="ui-guidelines">App UI Guidelines</a>
                <ul class="dropdown">
                    <li><a href="#intro">Introduction</a></li>
                    <li><a href="#buttons">Buttons</a></li>
                    <li><a href="#cards">Cards</a></li>
                    <li><a href="#text">Text</a></li>
                    <li><a href="#icons">Icons</a></li>
                    <li><a href="#illustrations">Illustrations</a></li>
                    <li><a href="#inputs">Inputs</a></li>
                    <li><a href="#appbar">App Bar</a></li>
                    <li><a href="#gophers">Gophers</a></li>
                    <li><a href="#fsmodals">Full Screen Modals</a></li>
                </ul>
            </li>
            <li><a class="dropdown-head showSingle" target="dashboard">Dashboard</a>
                <ul class="dropdown">
                    <li><a href="#general">General</a></li>
                </ul>
            </li>
            <li><a class="dropdown-head showSingle" target="marketing">Marketing Site</a>
                <ul class="dropdown">
                    <li><a href="#general">General</a></li>
                    <li><a href="#text">Text</a></li>
                    <li><a href="#icons">Icons</a></li>
                    <li><a href="#illustrations">Illustrations</a></li>
                    <li><a href="#inputs">Inputs</a></li>
                    <li><a href="#appbar">App Bar</a></li>
                    <li><a href="#gophers">Gophers</a></li>
                    <li><a href="#fsmodals">Full Screen Modals</a></li>
                </ul>
            </li>
            <li><a class="dropdown-head showSingle" target="brand">Brand</a>
                <ul class="dropdown">
                    <li><a href="#values">Brand Values</a></li>
                    <li><a href="#logo">Logo</a></li>
                    <li><a href="#colors">Colors</a></li>
                    <li><a href="#typography">Typography</a></li>
                    <li><a href="#voice">Voice &amp; Copy</a></li>
                    <li><a href="#photography">Photography</a></li>
                    <li><a href="#iconography">Iconography</a></li>
                    <li><a href="#layout">Layout</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="header-bottom">
        <ul class="contact-list">
            <li>{{ site.description }}</li>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
    </div>
</div>
