/**
 * Reset some basic elements
 */
 * {
    box-sizing: border-box;
 }
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-stretch: normal;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;

    strong {
        font-weight: 500;
    }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure, section, typeSample,
%vertical-rhythm {
    margin-bottom: $spacing-unit;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
    display: block;
    margin: auto;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
    text-transform: uppercase;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    font-size: $fontH;
    font-weight: 300;
    padding-bottom: 12px;
    border-bottom: solid 1px $grey_2;
}

h2 {
    font-size: $fontXXXL;
    font-weight: 300;
    padding-bottom: 12px;
    border-bottom: solid 1px $grey_2;
    // margin-top: $spaceXL;
}

h3 {
    font-size: $fontL;
    margin-top: $spaceL;
}

h4 {
    margin-bottom: $spaceM;
}

typeSample.light {
    font-weight: 300;
}

typeSample.regular {
    font-weight: 400;
}

typeSample.medium {
    font-weight: 500;
}

typeSample.bold {
    font-weight: 700;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;
    transition: all $transition-time;
    cursor: pointer;

    &:visited {
        color: $brand-color;
    }

    &:hover {
        color: $brand-color-dark;
        transition: all $transition-time;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

td {
    padding: $spaceM $spaceL;
}
table {
    width: 100%;
}
th {
    font-weight: 500;
}

xmp {
    font-size: 15px;
}


/**
 * Wrapper
 */
.wrapper {
    //max-width: -webkit-calc(1024px - (#{$spacing-unit} * 2));
    max-width:  calc(1024px - (#{$spacing-unit} * 2));
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: 24px;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc($on-laptop - (#{$spacing-unit}));
        max-width:         calc($on-laptop - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/*
 * Change selection colour
 */

 ::-moz-selection { background: $pbr_3; }
 ::selection { background: $pbr_3; }



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
