



section h1  {
  margin: 100px 0px 20px 0px;
  font-weight: 300;
}

h1 {
	font-size: 40px;
	margin-bottom: 100px !important;
	display: block;
}

ul, li {
  list-style: none;
  margin: 0;
}

#colors #chips {
  margin: 50px 0;
  width: 700px;
}

#colors .chip {
  margin: 0px 5px 50px 0px;
  display: inline-block;
}

#colors chip {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  display: inline-block;
  border: 1px solid #f2f2f2;
}

#colors chip.big {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

#colors .chip .info {
  font-size: 12px;
  font-weight: 300;
  margin-top: 20px;
  width: 100px;
}

  .info * {
    display: block;
  }
  
  .info colorName {
    font-weight: 500;
    font-size: 12px;
  }
  
  .info colorType {
    text-transform: capitalize;
    margin-bottom: 10px;
    height: 20px;
  }
  
  .info hex {
    text-transform: uppercase;
  }
  
  .info hex:before{
    content: "# ";
  }
  
  .info pantone:before{
    content: "Pantone ";
  }

strong {
	font-weight: 600;
}

em {
	font-style: italic;
}

#photography {}

	photograph img{
		width: 200px;
		height: 200px;
		margin-bottom: 20px;
		display: block;
		border: 1px solid rgba(232,222,222,0.5);
		
	}
	
	photograph {
		display: inline-block;
		margin: 0px 40px 0px 0px;
	}
	
	photograph:last-child{
		margin: 0;
	}
	
	captionText {
		display: inline-block;
		font-size: smaller;
		width: 200px;
		font-style: italic;
	}
	
example {
	background: rgba(232,222,222,0.1);
	border: 1px solid #F2F2F2;
	padding: 40px 40px 40px 40px;
	display: block;
	text-align: left;
	display: inline-block;
}


#balance {
	width: 400px;
	height: 400px;
	border: 1px solid #F2F2F2;
	border-radius: 400px;
	padding: 70px;
	text-align: center;
	display: block;
	margin-bottom:100px;
}

#balance ratio {
	display: inline-block;
	border-radius: 400px;
	margin: 2px;
	
}

a {
	color: #906391;
	font-weight: 500;
	text-decoration: none;
}


a.button {
	background: $pbr_light;
	border-radius: 3px;
	color: white;
	text-decoration: none;
	padding: 10px;
}


a.button:hover {
	background: $pbr;
}

downloads {
	margin: 50px 0px;
	display: block;
}

graphic {
	display: inline-block;
	margin: 0px 40px 0px 0px;
}

graphic:last-child{
	margin: 0;
}

graphic img {
	display: block;
	margin: 30px 0px;
}

typeSample {
	font-weight: 300;
	color: #447AD4;
	display: block;
	border-bottom: 1px solid #447AD4;
	padding: 10px;
}

typeSample.big{
	font-size: 30px;
}

typeSample.big:last-child {
	border: none;
}


.light {
	font-weight: 300;
}

.book {
	font-weight: 400;
}

.medium {
	font-weight: 500;
}

.bold {
	font-weight: 700;
}

.bodyCopy {
	color: #805475;
	line-height: 26px;
	font-size: 14px;
	border: none;
	font-weight: 300;
}

.bodyCopy.merriweather {
	font-family: 'Merriweather', serif;
	font-weight: 400;
}